<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/jpg">
    <style>
        .video-container-fullpost iframe {
            width: 100%;
            height: auto;
        }

        .video-container-fullpost {
            width: 100%;
        }

        p {
            text-align: left;
        }

        img {
            max-height: 400px;
            width: auto;
            height: auto;
            border-radius: 13px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{ post.title }}</h1>
        <a href="{{ url_for('home') }}" class="btn btn-primary">Back Home</a>
        <p class="date">{{ post.date }} | ID: {{ post.id }}</p>
        {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
        {% if post.video %}
            <div class="video-container-fullpost">
                <iframe
                    src="{{ post.video }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        {% endif %}
        <div class="post-content">
    {{ post.text|safe }}
        </div>
    </div>
</body>
</html>
