<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/jpg">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.likePost').click(function(e){
                e.preventDefault(); // Prevent the default click behavior
                var button = $(this);
                var post_id = button.data('id');
                $.post('/like/' + post_id, function(data){
                    if(data.error){
                        alert(data.error);
                    }else{
                        button.text('💗 (' + data.likes + ')');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="logo">
          {% set logo_file = 'magiclogo.jpg' if site == 'magic' else 'ailogo.jpg' %}
          <img class="logo-image" src="{{ url_for('static', filename=logo_file) }}" alt="Logo">
        </div>
        <h1>BRAZOROBOT LIFE</h1>
        {% if site == 'magic' %}
        <div class="text-center">
        <a href="https://www.youtube.com/@BrazorobotMTG">
          <img class="home-logo" src="https://storage.googleapis.com/brazorobot/brazorobot_web/static/youtubelogo3.png" alt="Brazorobot Logo" width="200">
        </a>
        <a href="https://discord.gg/DVF23St7KN">
          <img class="home-logo" src="https://storage.googleapis.com/brazorobot/brazorobot_web/static/discord.png" alt="Brazorobot Logo" width="200">
        </a>
        </div>
        <div class="text-center">
        <a href="{{ url_for('labeler') }}" class="btn btn-primary">▶️ Random Card Labeler</a>
        <!-- <a href="{{ url_for('game') }}" class="btn btn-primary">2 Random Card Selector</a> -->
        <!-- <a href="{{ url_for('game') }}" class="btn btn-primary">Corner Rounding Tool</a> -->
        </div>
        {% endif %}
        <div class="blog-grid full-post-content">
            {% for post in blog_posts %}
                <div class="blog-post">
                    <a href="{{ url_for('full_post', post_id=post.id) }}">
                        <h3>{{ post.title }}</h3>
                        <p class="date">by {{ post.author }} | {{ post.date }} | ID: {{ post.id }} | Likes: {{ post.likes }}</p>
                        {% if post.image %}
                            <img src="{{ post.image }}" alt="{{ post.title }}">
                        {% endif %}
                        <p>{{ post.text[:300]|safe }}{% if post.text|length > 300 %}...{% endif %}</p>
                    </a>
                    {% if post.video %}
                        <div class="video-container">
                            <iframe
                                src="{{ post.video }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                    {% endif %}
                    <div class="like-container">
                        <button class="likePost" data-id="{{ post.id }}">🤍</button>
                    </div>
                </div>
            {% endfor %}
        </div>
          <p class="intro-paragraph email-logo"><a href="mailto:brazorobotmtg@outlook.com">📧</a></p>
    </div>
</body>
</html>
