<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
      <div class="logo">
          <img class="logo-image" src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
      </div>
        <h1>BRAZOROBOT LIFE</h1>
        <p class="intro-paragraph">Welcome to the site where I publish anything I want about anything I like ^_^</p>
        <p class="intro-paragraph">Want to contact me? Send me an email to brazorobotmtg@outlook.com</p>
        <a href="{{ url_for('game') }}" class="btn btn-primary">Select a Card Game</a>

        <h2>Blog Posts</h2>
        <div class="blog-grid">
            {% for post in blog_posts %}
                <div class="blog-post">
                    <h3>{{ post.title }}</h3>
                    <p class="date">{{ post.date }}</p>
                    {% if post.image %}
                        <img src="{{ post.image }}" alt="{{ post.title }}">
                    {% endif %}
                    <p>{{ post.text }}</p>
                    {% if post.video %}
                        <div class="video-container">
                            <iframe
                                src="{{ post.video }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
