<!DOCTYPE html>
<html>
<head>
    <title>New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.jpg') }}" type="image/jpg">
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        .wide-form {
            width: 95%;
            margin: 0 auto;
            max-width: 900px;
        }
    </style>
</head>
<body>
    <div class="container full-post-content">
        <!-- Add 'wide-form' class to form -->
        <form method="POST" class="needs-validation wide-form" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control", placeholder="Enter Password") }}
            </div>
            <div class="form-group">
                {{ form.author.label(class="form-control-label") }} <!-- New author field -->
                {{ form.author(class="form-control", placeholder="Enter Author Name") }} <!-- New author field -->
            </div>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control", placeholder="Enter Title") }}
            </div>
            <div class="form-group">
                {{ form.date.label(class="form-control-label") }}
                {{ form.date(class="form-control", placeholder="Enter Date") }}
            </div>
            <div class="form-group">
                {{ form.image.label(class="form-control-label") }}
                {{ form.image(class="form-control", placeholder="Enter Image URL") }}
            </div>
            <div class="form-group">
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control", placeholder="Enter Text (Markdown supported)", rows=5) }}
            </div>
            <div class="form-group">
                {{ form.video.label(class="form-control-label") }}
                {{ form.video(class="form-control", placeholder="Enter Video URL") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
            <div>
            <button id="preview-btn" class="btn btn-secondary">Preview Text</button>
            <div id="markdown-preview"></div>
            </div>
          </form>
    </div>

    <div class="container full-post-content">

    <h3>Markdown Syntax:</h3>
    <p><strong>Headers:</strong> Use '#' for headers. Example: '# Header1', '## Header2'.</p>
    <p><strong>Bold:</strong> Use '**' to bold text. Example: '**bold text**'.</p>
    <p><strong>Italic:</strong> Use '_' to italicize text. Example: '_italic text_'.</p>
    <p><strong>Bullet Points:</strong> Use '*' or '-' for bullet points.</p>
    <p><strong>Links:</strong> Format links like this: '[link text](http://url.com)'.</p>
    <p><strong>Images:</strong> Format images like this: '![alt text](http://url.com/image.jpg)'.</p>
    </div>

    <!-- Optional Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Optional Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#preview-btn").click(function(e){
        e.preventDefault();  // prevent form submission
        $.ajax({
          url: '/preview',
          data: {'text': $('textarea[name="text"]').val()},
          type: 'POST',
          success: function(response){
            $("#markdown-preview").html(response);  // replace the previous preview with the new one
          },
          error: function(error){
            console.log(error);
          }
        });
      });
    });
    </script>


</body>
</html>
