<!-- summary.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Magic The Gathering Game Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Summary of Selected and Unselected Cards</h1>
        <h2 class="text-center">Selected Images:</h2>
        <ul class="card-list text-center">
            {% for name, image, set, rarity in selected_images %}
            <li class="card-name" data-image="{{ image }}">{{ name }}</li>
            {% endfor %}
        </ul>
        <h2 class="text-center">Unselected Images:</h2>
        <ul class="card-list text-center">
            {% for name, image, set, rarity in unselected_images %}
            <li class="card-name" data-image="{{ image }}">{{ name }}</li>
            {% endfor %}
        </ul>
        <div class="text-center">
            <a href="{{ url_for('game') }}" class="btn btn-primary">Back to Game</a>
            <a href="{{ url_for('download_csv') }}" class="btn btn-primary">Download CSV</a>
            <a href="{{ url_for('download_xls') }}" class="btn btn-primary">Download Excel</a>
            <form action="{{ url_for('clear_session') }}" method="post">
                <button type="submit" class="btn">Clear Session</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            $('.card-name').hover(function() {
                const cardImage = $(this).data('image');
                const cardImageElement = $('<img>').attr('src', cardImage).addClass('hover-image');
                $('body').append(cardImageElement);
                $('.hover-image').css('left', '60%').fadeIn(200);

                $(this).css({
                    'font-weight': 'bold',
                    'transition': 'font-weight 0.5s',
                    'font-size': '2em',
                    'transition': 'font-size 0.5s'
                });
            }, function() {
                $('.hover-image').fadeOut(200, function() {
                    $(this).remove();
                });

                $(this).css({
                    'font-weight': 'normal',
                    'transition': 'font-weight 0.5s',
                    'font-size': '1em',
                    'transition': 'font-size 0.5s'
                });
            });
        });
    </script>
</body>
</html>
